rvm:
 - 2.1
 - 2.2.4
 - 2.3.1
 - 2.4.0
 - ruby-head

gemfile:
 - Gemfile
 - Gemfile.v0.12

before_install: gem update bundler
script: bundle exec rake test

sudo: false

matrix:
  allow_failures:
    - rvm: 2.4.0
    - rvm: ruby-head
